<a href={{ path("rac_development_product_create") }}>Créer</a>
<table>
    <tr>
        <td>Nom</td>
        <td>Description</td>
        <td>Image</td>
        <td>Quantitée</td>
        <td>Prix</td>
        <td>Date de création</td>
    </tr>
{% for entity in entities %}
    <tr>
        <td>{{ entity.name }}</td>
        <td>{{ entity.description }}</td>
        <td>{{ entity.image }}</td>
        <td>{{ entity.quantity }}</td>
        <td>{{ entity.price }}&nbsp;€</td>
        <td>{{ entity.createdAt.date }}</td>
    </tr>
{% endfor %}
</table>