<a href={{ path('rac_development_product_stock_incoming_create') }}>{{ 'rac_develoment.general.add'|trans() }}</a>
<table>
    <tr>
        <td>{{ 'rac_develoment.product_stock_incoming.field.quantity'|trans() }}</td>
        <td>{{ 'rac_develoment.product_stock_incoming.field.price'|trans() }}</td>
        <td>{{ 'rac_develoment.product_stock_incoming.field.shipping_client'|trans() }}</td>
        <td>{{ 'rac_develoment.product_stock_incoming.field.shipping_rac'|trans() }}</td>
        <td>{{ 'rac_develoment.product_stock_incoming.field.origin'|trans() }}</td>
        <td>{{ 'rac_develoment.general.created_at'|trans() }}</td>
        <td>{{ 'rac_develoment.general.action'|trans() }}</td>
    </tr>
{% for entity in entities %}
    <tr>
        <td>{{ entity.quantity }}</td>
        <td>{{ entity.price }}</td>
        <td>{{ entity.shippingClient }}</td>
        <td>{{ entity.shippingRAC }}</td>
        <td>{{ entity.origin }}</td>
        <td>{{ entity.createdAt.date }}</td>
        <td>
            <a class='delete' href={{ path('rac_development_product_stock_incoming_delete', {'id' : entity.id}) }}>{{ 'rac_develoment.general.delete'|trans() }}</a>
            <a href={{ path('rac_development_product_stock_incoming_edit', {'id' : entity.id}) }}>{{ 'rac_develoment.general.edit'|trans() }}</a>
        </td>
    </tr>
{% endfor %}
</table>
<script src="http://code.jquery.com/jquery.js"></script>
<script language="javascript" type="text/javascript">
    $( '.delete' ).click(function() {
        alert( "{{ 'rac_develoment.general.delete_comfirmation'|trans() }}" );
    });
</script>
